<div>
  <input type="text" placeholder="Filter by customer name" (input)="filterTable($any($event.target).value)" />
  <table class="table">
    <thead>

      <tr>
        <th scope="col">Customer Name</th>
        <th scope="col">Transactions</th>
      </tr>
    </thead>
    <tr *ngFor="let customer of filteredCustomers" (click)="selectCustomer(customer.id)">
      <td>{{ customer.name }}</td>
      <td>
        <ul>
          <li *ngFor="let transaction of getTransactionsForCustomer(customer.id)">
            {{ transaction.date }} - {{ transaction.amount }}
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>
