<div class="container">
  <div class="row">
    <input
      type="text"
      class="form-control my-3"
      placeholder="Filter by customer name"
      (input)="filterTable($any($event.target).value)"
    />
    <table class="table">
      <thead>
        <tr>
          <th class="text-center" scope="col">Customer ID</th>
          <th class="text-center" scope="col">Customer Name</th>
          <th class="text-center" scope="col">Date</th>
          <th class="text-center" scope="col">Amount</th>
          <th class="text-center" scope="col">Transaction ID</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let customer of filteredCustomers">
          <ng-container *ngFor="let transaction of getTransactionsForCustomer(customer.id); let j = index">
            <tr (click)="selectCustomer(customer.id)">
              <td *ngIf="j === 0" [attr.rowspan]="getTransactionsForCustomer(customer.id).length" class="text-center">{{ customer.id }}</td>
              <td *ngIf="j === 0" [attr.rowspan]="getTransactionsForCustomer(customer.id).length" class="text-center">{{ customer.name }}</td>
              <td class="text-center">{{ transaction.date }}</td>
              <td class="text-center">{{ transaction.amount }}</td>
              <td class="text-center">{{ transaction.id }}</td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
