<div class="container my-4">
  <div class="row">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/customers" routerLinkActive="active">Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/transactions">Transactions</a>
      </li>
    </ul>

    <div class="col-md-6">
      <div class="col-md-12">
        <!-- <app-customer-table (customerSelected)="onCustomerSelect($event)"></app-customer-table> -->
        <app-customer-table ></app-customer-table>
        <app-transactions-data></app-transactions-data>
      </div>
    </div>
  </div>
</div>

